/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
client_secret_642030344065-sou2q50pbjn9m8dhkrvupo8od3l8igav.apps.googleusercontent.com.json
